<div class="KanbanAddForm__wrapper full-screen flex flex-center">
    <div class="KanbanAddForm-input__wrapper radius-border flex flex-column">
        <div class="KanbanAddForm-close__wrapper flex flex-justify-end">
            <i class="fa fa-times" @click="closeForm"></i>
        </div>
        <input class="KanbanAddForm-text__wrapper" type="text" v-model="task.title" placeholder="Введите задачу">
        <input class="KanbanAddForm-date__wrapper" type="date" v-model="task.deadline">
        <button :disabled="!(task.title && task.deadline)" class="KanbanAddForm-save__wrapper" @click="addTask">Сохранить</button>
    </div>
</div>